.day {
  width: 14%;
  display: flex;
  flex-direction: column;
  height: 215px;
  align-items: center;
  position: relative;
  background-color: #f9f8f7;

  .date-wrapper {
    width: 100%;
  }

  .date {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #daecf7;
    color: #505558;
    font-size: large;

    .month,
    .number {
      padding: 10px;
    }
  }

  .day-week {
    width: 100%;
    color: steelblue;
    background-color: #e0dbe4;
    border-top: #f9f8f7;
  }

  .day-week.holiday {
    width: 100%;
    color: #e23d3d;
    background-color: #e0dbe4;
    height: 10px;
  }

  .holidays {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
