.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .date {
    flex-direction: column;
    width: 48px;
    align-self: flex-start;
    border-bottom: 1px solid cadetblue;
    border-right: 1px solid cadetblue;
  }
}
