.week {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  gap: 1%;
  flex-basis: 100%;
}

/** Mobile Landscape screen sizes*/
@media only screen and (min-width: 480px) {
  .week {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 1%;
  }
}

/** Large tablet screen sizes*/
@media only screen and (min-width: 796px) {
  .week {
    grid-template-columns: repeat(5, 1fr);
  }
}

/** Desktop screen sizes*/
@media only screen and (min-width: 1025px) {
  .week {
    grid-template-columns: repeat(7, 1fr);
  }
}
