.week {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  order: 3;
}

.day {
  flex-basis: 100%;
}

/** Mobile Landscape screen sizes*/
@media only screen and (min-width: 480px) {
}

/** Desktop screen sizes*/
@media only screen and (min-width: 768px) {
  .day {
    flex-basis: 14%;
  }
}
