.homepage {
  padding: 50px 20px;
  .calendar,
  .calendar-header {
    display: flex;
  }

  .calendar-header {
    width: 85%;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-between;
    font-family: sans-serif;
    font-weight: 300;
    font-size: x-large;
    color: indianred;
  }
  .next-icon {
    height: fit-content;
    place-self: center;
  }
}
